!!! 5
html
	head
		meta(name="viewport", content="width=device-width", initial-scale="1.0")
		block meta

		link(href='//netdna.bootstrapcdn.com/bootswatch/2.3.1/spacelab/bootstrap.min.css',rel='stylesheet')
		link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css", rel="stylesheet")
		link(href='//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css', rel='stylesheet')
		link(href='style/css/main.css', rel='stylesheet')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.js')
		title
			block title
	body
		block vars
			- var active = ''
		div.container
			div#main-menu
				div.hidden-phone
					ul.nav.nav-pills.pull-right
						li(class='#{active == "home" ? "active" : ""}')
							a(href='index.html') Home
						li(class='#{active == "contact" ? "active" : ""}')
							a(href='contact.html') Contact
				div.visible-phone
					div.btn-group.pull-right
						a.btn.btn-info.dropdown-toggle(data-toggle="dropdown", href="#")
							| Menu 
							span.caret
						ul.dropdown-menu
							li(class='#{active == "home" ? "disabled" : ""}')
								a(href='index.html') Home
							li(class='#{active == "contact" ? "disabled" : ""}')
								a(href='contact.html') Contact
			h3.muted Stokes Player

			hr
			block content

		block footer
			#footer
				.container
					.row
						.span12
							- var currentYear = (new Date()).getFullYear();
							p.text-center
								| Copyright &copy; #{currentYear}, Stokes Player

		block script

		include includes/google

